.win-cart {
  width: 100%;
  right: 0;
  top: 125%;
  padding: 10px;
  background: #fff8f1;
  z-index: 1;
  h2, h3 {
    text-transform: uppercase;
    font-weight: bold;
  }
  &_left, &_right {
    display:flex;
    flex-direction:column;
  }
  &_login {
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1em;
    &-btn {
      width: 20%;
      height: 40px;
      border: 3px solid #555;
      background: none;
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
        color: #ffffff;
        background: #00aeff;
        border-color: #00aeff;
        transition: all 0.4s ease 0s;
      }
    }
  }
}
.win-lots {
    &_line {
    border-bottom: 4px solid black;
  }
  &_item {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  img {
    width: 20%;
    height: 225px;
  }
}
.lots-detail {
  width: 70%;
  h3 {
    font-size: 1.3em;
  }
  p {
    font-size: 1.2em;
    margin: 10px 0;
  }
  a {
    text-transform: uppercase;
    color: #555;
    font-weight: bold;
    background: none;
    font-size: 16px;
    border-bottom: 1px solid #2d353d;
    padding: 10px 0;
    text-transform: uppercase;
    &:hover {
      color: #ff0000;
      border-bottom: 1px solid #ff0000;
    }
  }
}
.win-cart_right {
  justify-content: space-between;
  text-align: justify;
  p {
    font-size: 1.2em;
    display:flex;
    justify-content: space-between;
  }
}
.proceed-btn {
  width: 100%;
  height: 40px;
  border: 3px solid #000;
  background: #000;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  color: #ffffff;
  &:hover {
    color: #ffffff;
    background: #555;
    border-color: #555;
    transition: all 0.4s ease 0s;
  }
}
.lnr-cart {
  position: relative;
div {
  top: -40%;
  left: 70%;
  font-size: 0.5em;
}
}
