.lots-section {
  @include size(100%);
  margin: 5% auto;
  h2 {
    font-size: 1.5em;
    margin: auto;
    text-align: center  ;
  }
}

.container {
  @include size (75%, 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px auto;
  box-sizing: border-box;
  //overflow: auto;
}
.card {
  display: block;
  @include size(250px, 300px);
  position: relative;
  box-shadow: 0 3px 5px 1px rgba(0,0,0,0.75);
  padding: 5px;
  border-radius: 5px;
  transition: all .2s ease-in-out;
  margin: 20px 10px;
  cursor: pointer;
  &_time-left {
    position: absolute;
    padding: 2px 10px;
    line-height: 30px;
    top: 5%;
    left: 2%;
    background:#fff;
    font-weight: bold;
  }
  &_img {
    padding: 5px;
    @include size(100%, 80%);
  }
  &_details {
    @include size(100%, 100px);
    position: absolute;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.5;
    padding: 5px 10px;
    background: $default-color;
    border-radius: 5px;
    transition: height 0.3s;
    bottom: 0;
    left: 0;
    h2 {
      font-size: 1em;
     text-align: left;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: bold;
    }
    &:hover {
      height: 60%;
    }
    &:hover .description {
      display: block;
    }
  }
  &_btn {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &:hover {
    box-shadow: 0 0 7px 1px #f2c621;
    transition: 0.2s;
    transform: scale(1.1);
  }
}
.description {
  height: 40%;
  display: none;
  line-height: 1.2;
  text-align: justify;
  font-size: 0.9em;
  word-break: break-word;
}
.bid-input {
  @include size(25%, 30px);
  padding: 5px;
  font-size: 14px;
}

.bid-btn {
  @include size(25%, 30px);
  margin: 0 -5%;
  background: $primary-color;
  color: $default-color;
  border: none;
  margin: 0 -2px;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 10px 3px rgba(55, 122, 234, 0.75);
    transform: scale(1.1);
  }
}

.info-btn {
  @include size(50%, 30px);
  position: relative;
  background: rgba(229, 90, 90, 0.78);
  color: $default-color;
  border: none;
  font-size: 0.9em;
  margin-left: 5px;
  cursor: pointer;
  border-bottom-right-radius: 5px;
  text-align: center;
  line-height: 30px;
  &:hover {
    box-shadow: 0 0 10px 3px rgba(229, 90, 90, 0.78);
  }
}
.pagination {
  text-align: center;
  margin: 20px;
  font-size: 1.5em;
  .lnr {
    font-size: 0.8em;
    font-weight: 900;
    border-radius: 50%;
  }
  &_btn,
  &_number,
  .lnr {
    cursor: pointer;
    :hover {

      background-color:#FFA500;
    }
  }
  &_btn, .clickPageNumber {
    color: #3d8aff;
    display: inline-block;
    margin:0 5px;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #F7C12C;
    border-radius: 100%;
    font-size: 0.8em;
    &:hover {
      color: #fff;
      background-color:#FFA500;
    }
  }
  .prev {
    border-radius: 50px 0 0 50px;
    width: 120px;
  }
  .next {
    border-radius: 0 50px 50px 0;
    width: 120px;
  }
    &_number span {
    font-size: 1em;
    display: inline-block;
    //border: 1px solid black;
    padding: 5px 12px;
    border-radius: 50%;
    margin: 5px;
  }
}
.opacity {
  opacity: 0.5;
}
.bottom-btn {
  width: 35%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  &_sell, &_info {
    @include size(40%, 40px);
    background: $primary-color;
    color: $default-color;
    border: none;
    margin: 0 -2px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    &:hover {
      box-shadow: 0 0 10px 3px #f2c621;
      transition: 0.2s;
      transform: scale(1.1);
    }
  }
}
button:hover {
  box-shadow: 0 0 10px 3px #f2c621;
  transition: 0.2s;
  transform: scale(1.1);
}