@media (min-width: 1401px) {
  .slider {
    height: 500px;
  }
  .btn-slider {
    width: 30%;
  }
  .submenu {
    top: 110%;
  }
}


@media (min-width: 1025px) and (max-width: 1200px) {

  .btn-slider {
    width: 80%;
  }

}


@media (min-width: 768px) and (max-width: 1024px) {

  .btn-slider {
    width: 80%;
  }
  .search_btn {
    width: 30%;
  }
}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .main-menu {
    flex-wrap: wrap;
  }
  .search_btn {
    width: 30%;
  }

}



@media (min-width: 481px) and (max-width: 767px) {
  .main-menu {
    flex-wrap: wrap;
  }
  .search_btn {
    width: 30%;
  }

}



@media (min-width: 320px) and (max-width: 480px) {

  .main-menu {
    flex-wrap: wrap;
  }

}