input, select {
  padding: 0 5px;
  font-size: 0.8em;
  line-height: 30px;
}

.add-lots {
  @include size(85%, 100%);
  display: flex;
  margin: 3% auto;
}
.sell-section {
  @include size(55%, 100%);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 1.2em;
}
.req-color {
  color: #f7572c;
}

.no-required-field {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2em;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  input, select {
    @include size(20%, 35px);
    margin: 15px 1px;
  }

  div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    .lot_date {
      @include size(40%, 35px);
    }
    input {
      @include size(30%, 35px);
      font-size: 1em;
      //vertical-align: center;
    }
  }
}
.lot {
  @include size(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  font-size: 1.2em;
  input, select {
    @include size(65%, 35px);
  }
  &_time {
    margin-left: 25px;
  }
  &_date {
    font-size: 1em;
  }
}
  .photo {
    display: flex;
    font-size: 1.2em;
    flex-wrap: wrap;
    justify-content: space-between;
    &_input{
      display: none;
    }
    &_label {
      @include size(5em);
      display: block;
      position: relative;
      border: 2px solid #909399;
      cursor: pointer;
      img {
        @include size(90%);
        position: absolute;
        opacity: 0.8;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &_info {
      font-size: 16px;
      margin-top: 20px;
      flex-grow: 2;
      align-self: center;
      color: #f7572c;
      padding: 0 20%;
    }
    .lnr-star {
      font-size: inherit;
      color: $primary-color;
    }
  }
  .lot_descript {
    font-size: 1.2em;
    margin: 20px;
    display: flex;
    justify-content: space-between;
  }
  textarea {
    @include size(68%, 200px)
  }
  .form-details {
    @include size(30%, 100%)
  }
  .lot_submit {
    width: 25%;
    padding: 2%;
    font-size: 1.2em;
    margin: 20px auto;
    background: $primary-color;
    color: $default-color;
    border: none;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 7px 1px #fff22a;
      transition: 0.2s;
      transform: scale(1.1);
    }
  }


//popup validation
.popup {
  width: 100%;
  position: relative;
  display: flex;
  user-select: none;
  justify-content: space-between;
  margin: 10px 0;
}

.popuptext {
  visibility: hidden;
  width: 65%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 8px 5px;
  position: absolute;
  z-index: 1;
  bottom: -100%;
  left: 30%;
  font-size: 0.7em;
}

/* Popup arrow */
.popuptext::after {
  content: "";
  position: absolute;
  top: -70%;
  left: 45%;
  border-width: 15px;
  border-style: solid;
  border-color:  transparent  transparent #555 transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

//popup submit
.add-more-lots {
  visibility: hidden;
  width: 30%;
  text-align: center;
  border: 2px solid black;
  position: absolute;
  background: $default-color;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  &_text {
    margin: 40px 10px;
    font-size: 2em;
  }
  &_btn {
    font-size: 1.5em;
    width: 35%;
    height: 40px;
    background: $primary-color;
    color: $default-color;
    border: none;
    margin: 0 10px 30px 10px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    &:hover {
      box-shadow: 0 0 10px 3px #f2c621;
      transition: 0.2s;
      transform: scale(1.1);
    }
  }
}



