//slider styles

.slider {
  @include size(100%, 350px);
  position: relative;
  margin: auto;

  &_items {
    display: none;
    @include size(100%, 100%);

    &-info {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      padding: 30px 5%;
      overflow: hidden;
      @include size(50%, 100%);

      h2 {
        font-size: 35px;
        font-weight: 900;
      }
    }

    &-img {
      @include size(100%, 100%);
      max-width: 70vw;
      vertical-align: middle;
    }

    &:nth-child(1n) {
      background: rgba(134, 229, 190, 0.72);
      color: #5e9971;

      .btn-slider:hover {
        box-shadow: inset 0 0 0 25px #5e9971;
        border-color: #5e9971;
      }
    }

    &:nth-child(2n) {
      background: rgba(255, 186, 157, 0.72);
      color: #e55a5a;

      .btn-slider:hover {
        box-shadow: inset 0 0 0 25px #e55a5a;
        border-color: #e55a5a;
      }
    }

    &:nth-child(3n) {
      background: rgba(232, 185, 39, 0.72);
      color: #c08a19;

      .btn-slider:hover {
        box-shadow: inset 0 0 0 25px #c08a19;
        border-color: #c08a19;
      }
    }

    &:nth-child(4n) {
      background: rgba(49, 176, 224, 0.72);
      color: #256a99;

      .btn-slider:hover {
        box-shadow: inset 0 0 0 25px #256a99;
        border-color: #256a99;
      }
    }
  }

  &_left, &_right {
    position: absolute;
    color: $neutral-primary;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &_left {
    left: 2%;
  }

  &_right {
    right: 0;
    padding: 10px 2px;
  }

  &_left:hover, &_right:hover {
    border: 1px solid #e5dae0;
    padding: 10px 2px;
    //border-radius: 50%;
    background: rgba(255, 255, 255, 0.59);
    cursor: pointer;
  }
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: 0.3}
  to {opacity: 1}
}

.lnr {
  font-size: 2em;
  font-weight: 900;
}

.lnr-arrow-right {
  font-size: 1em;
  margin-left: 10px;
  //border: 1px solid black;
}

.btn-slider {
  @include size(60%, 15%);
  position: relative;
  margin: 20px 0;
  color: $default-color;
  font-size: 20px;
  background: none;
  padding: 10px;
  text-decoration: none;
  border: 1px solid #ffffff;
  transition: box-shadow 0.3s ease-out;
}

