//slider styles

.slider {
  @include size(100%, 350px);
  position: relative;
  margin: auto;

  &_items {
    display: none;
    @include size(100%, 100%);

    &-info {
      border: 1px solid black;
      @include size(50%, 100%);
    }

    &-img {
      @include size(100%, 100%);
      max-width: 70vw;
      vertical-align: middle;
    }
  }
}

.fade {
  animation-name: slide_animation;
  animation-duration: 1.5s;
}

.slider_left, .slider_right {
  position: absolute;
  color: $purple-color;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slider_left {
  left: 3%;
}

.slider_right {
  right: 0;
  padding: 10px 2px;
}

.slider_left:hover, .slider_right:hover {
  border: 1px solid #31b0e0;
  padding: 10px 2px;
  //border-radius: 50%;
  background: rgba(49, 176, 224, 0.59);
  color: #e5dae0;
  cursor: pointer;
}
.lnr {
  font-size: 2em;
  font-weight: 900;
}