//slider styles

.slider {
  @include size(100%, 350px);
  position: relative;
  margin: auto;
  //&:nth-child(2n) &_items:nth-child(2n) {
  //  background: rgba(229, 126, 126, 0.72);
  //  color: #e55a5a;
  //}
  &_items {
    display: none;
    @include size(100%, 100%);

    &-info {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      padding: 30px 5%;
      //border: 1px solid black;
      overflow: hidden;
      @include size(50%, 100%);
      h2 {
        font-size: 35px;
        font-weight: 900;
      }
    }

    &-img {
      @include size(100%, 100%);
      max-width: 70vw;
      vertical-align: middle;
    }
    &:nth-child(1n) {
      background: rgba(134, 229, 190, 0.72);
      color: #5e9971;
    }
    &:nth-child(2n) {
      background: rgba(255, 186, 157, 0.72);
      color: #e55a5a;
    }
    &:nth-child(3n) {
      background: rgba(232, 185, 39, 0.72);
      color: #c08a19;
    }
    &:nth-child(4n) {
      background: rgba(49, 176, 224, 0.72);
      color: #256a99;
    }
  }
  &_left, &_right {
    position: absolute;
    color: $purple-color;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &_left {
    left: 3%;
  }
  &_right {
    right: 0;
    padding: 10px 2px;
  }
  &_left:hover, &_right:hover {
    border: 1px solid #31b0e0;
    padding: 10px 2px;
    //border-radius: 50%;
    background: rgba(49, 176, 224, 0.59);
    color: #e5dae0;
    cursor: pointer;
  }
}


.fade {
  animation-name: slide_animation;
  animation-duration: 1.5s;
}


.lnr {
  font-size: 2em;
  font-weight: 900;
}


.btn-slider {
  @include size(60%, 15%);
  margin: 20px 0;
  color: $default-color;
  font-size: 20px;
  background: none;
  padding: 10px 30px 10px 10px;
  text-decoration: none;
  border: 1px solid #ffffff;
}

.btn-slider:hover {
  background: #3cb0fd;
  text-decoration: none;
}