@import "utils/reset.scss";
@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "modules/slider";
@import "modules/lots-section";

@import "modules/header.scss";
@import "modules/wrapper";
@import "modules/footer";
